<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App by Sharjil Dhanani</h1>
    <p class="col-md-8 fs-4">There are 9 questions in this Quiz. No negative marking.</p>
    <h4>Rules to follow:</h4>
    <ol>
        <li>Correct Question gives 10 points</li>
        <li>Must attempt all questions</li>
        <li>Quiz will end on time</li>
    </ol>
    <h1 style="font-family: cursive;text-align: center;">All the best</h1>
    <div class="name col-md-4 my-3">
            <label for="">Enter your name: </label>
            <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-success btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz</button>
</div>
